body {
    margin:2rem;
}

.operators {
    width: 20rem;
    margin-top: 3rem;
}

.exponential {
    width: 20rem;
    margin-top: 3.5rem;
}

.algebraic {
    width: 20rem;
    margin-top: 3.5rem;
}

button {
    width: 7rem;
    height: 3rem;
}

